@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-5 mb-5">
    <h1>Welcome to PC Craft</h1>
    <hr class="hr-2"/>
    <h3><a asp-area="Identity" asp-page="/Account/Login">Login</a> and start crafting your PC, or <a asp-area="Identity" asp-page="/Account/Register">Register</a> if you don't have an account.</h3>
</div>